.shadow {
	text-shadow: 1px 1px 4px #800000;
}

.italics {
	font-style: italic;
}

:root {
	--global-color-1: blue;
	--h3-color: #333300;
}

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	background-color: #868679;
}

a { font-style: normal;}
a:hover, a:focus { font-style: italic;}

/* the styles for the header */
header h2 {
	font-size: 170%;
	color: #800000;
	text-indent: 30px;
}
header h3 {
	font-size: 130%;
	font-style: italic;
	text-indent: 30px;
}
header img {
	float: left;
}

/* the styles for the main content */
main {
	clear: left;
}
main h1 {
	font-size: 150%;
}
main h2 {
	color: var(--global-color-1);
	font-size: 130%;
}
main h3 {
	color: var(--h3-color);
	font-size: 105%;
}
main blockquote {
	font-style: italic;
}

/* the styles for the footer */
footer p {
	text-align: center;
}
