* {
	margin: 0;
	padding: 0;
}
/* html style */
html {
	background-color: black;
}
/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 60%;
	margin: 0 auto;
	background-color: #4A6980;
	border: 3px solid #3FA3EB;
	border-radius: 5px;
	display: grid;
	grid-template: auto auto auto auto / 100%;
	grid-template-areas: 
		"header"
		"navbar"
		"main"
		"footer";

}
a:focus, a:hover {
	font-style: italic;
}
header {
	grid-area: header;
}
header img{
	max-width: 75%;
	display: block;
	margin: auto;
}
nav {
	grid-area: navbar;
}
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-basis: 100%;
	align-items: center;
	position: relative;
}
#nav_menu ul li {
	flex-basis: 20%;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #0059ff;
	border: 3px solid #3FA3EB;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
	width: 20%;
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    display: block;
}
main {
	grid-area: main;
	padding: 2em 2em;
	font-size: 150%;
}
main h1 {
	text-align: center;
	margin: auto auto 1em auto;
	padding-bottom: 1em;
	border-bottom: 3px solid #3FA3EB;
}
main h3 {
	font-size: 100%;
    text-align: center;
	margin: 1em auto;
}
main p {
	text-align: center;
	font-size: 90%;
}
#mobile_menu {
	display: none;
}

@media only screen and (max-width: 1200px) {
    #nav_menu ul {
        font-size: 65%;
    }
	main h1 {
		font-size: 85%;
	}
	main h3 {
		font-size: 85%
	}
	main p {
		font-size: 85%;
	}
}

@media only screen and (max-width: 925px) {
    #nav_menu ul {
        font-size: 50%;
    }
}

@media only screen and (max-width: 721px) {
	header { text-align: center; }
	section {
		float: none;
		width: 95%;
	}
	aside {
		float: none;
		padding-right: 2.5%;
		width: 95%;
	}
	article img { 
		max-width: 30%; 
	}
	#speakers {
		column-count: 2;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	.slicknav_menu {
		background-color: #3FA3EB !important;
	}
}

@media only screen and (max-width: 440px) {
	body { font-size: 90%; }
}